- var json = data
.block.howitwork
    .container
        .columns
            .column
            .column.is-two-fifths
                .title.is-2.has-text-centered #{json.howitwork.title}
                .content.has-text-centered  #{json.howitwork.text}
            .column

    .container
        .columns
            each item in json.howitwork.items 
                .column
                    figure.is-128by128.has-text-centered
                        img(src=item.img, alt="")
                    .title.is-4.has-text-centered #{item.title}
                    .content.has-text-centered.item #{item.desc}
            
        